<div class='docs-sidebar-left' data-js-docs-sidebar-left>
  <div class="docs-sidebar-left-header">Intro</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='intro'
  }}
  <div class="docs-sidebar-left-header">Smart Contract</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='smart contract'
  }}
  <div class="docs-sidebar-left-header">CLI tool</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='cli tool'
  }}
  <div class="docs-sidebar-left-header">Minter Dapp</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='minter dapp'
  }}
  <div class="docs-sidebar-left-header">Articles / Learning</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='articles'
  }}
  <div class="docs-sidebar-left-header">Links</div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://elrond-dev-guild.gitbook.io/scrolls/introduction/elrond-dev-inventory" class="docs-articles-list-out-link"><i class="gg-link"></i> MultiversX's Dev Inventory</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://elrond-dev-guild.gitbook.io/scrolls/readme/linux-environment-for-development" class="docs-articles-list-out-link"><i class="gg-link"></i> Linux environment for development</a>
    </div>
  </div>
  <div class="docs-articles-list--article">
    <div class="docs-articles-list--title">
      <a href="https://www.julian.io/articles/how-to-start-with-multiversx.html" class="docs-articles-list-out-link"><i class="gg-link"></i> How to start with the Multiversx blockchain development</a>
    </div>
  </div>
</div>
<div class="docs-sidebar-left-menu-icon" data-js-docs-sidebar-left-menu-icon>
  <i class="gg-details-more"></i>
</div>